/*----IE8----*/
#ie-modal-wrapper{
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, .8);
}

#ie8-modal{
  margin: 0 auto;
  position:fixed;
  left:50%;
  top:50%;
  z-index:999;
  height:300px;
  width:347px;
}

#ie7-modal{

}

#ie6-modal{

}
